@import url(http://fonts.googleapis.com/css?family=Fira+Mono:400,700);
body {
  margin: 0;
  padding: 0;
  background: #a3be8c;
  font-family: "Fira Mono", monospace;
  color: white; }

.flourish {
  margin: 8em auto 0;
  width: 700px;
  text-align: center; }
  .flourish .logo {
    margin: 0 auto; }
  .flourish .text {
    text-align: center; }
  .flourish h1 {
    font-size: 8em;
    font-weight: bold;
    margin: 0; }
  .flourish h2 {
    font-weight: normal;
    font-size: 2em;
    margin: 0; }
