{% extends 'default-14.html' %}

{% block header %}
  <div id="index">
    <a href="/"><img src="/assets/images/2014/tree-2014-white.png"/></a>
    
    <p>
      Flourish! is a student-led Open Source conference hosted at the
      University of Illinois at Chicago. <strong>Open Source, Open Future</strong>
    </p>

    <p class="caps"><strong>April 5, 2014 / Chicago, IL</strong></p>
  </div>
{% endblock %}


{% block prefooter %}
<ul class="sponsors">
  <div class="container">
    <a href="http://cs.uic.edu"><li><img src="/assets/images/csdepartment.png" /></li></a>
    <a href="http://www.uic.edu/depts/enga"><li><img src="/assets/images/coe.png" /></li></a> 
    
    <a href="http://acm.cs.uic.edu"><li><img src="/assets/images/uic_acm_logo.gif" /></li></a>
    <a href="http://lug.cs.uic.edu"><li><img src="/assets/images/uiclug.png" /></li></a>
	<a href="http://spantree.net"><li><img src="/assets/images/spantree-logo_bw.png" /></li></a>
	<a href="http://github.com"><li><img src="/assets/images/github.png" /></li></a>
	<a href="http://www.linuxjournal.com"><li><img src="/assets/images/ljlogo.jpg" /></li></a>
  </div>
</ul>
{% endblock %}
